# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/
.editorconfig
.idea/
README.md
assets/
atlassian-ide-plugin.xml
cms/
framework/
index.php
install-frameworkmissing.html
install.php
reports/
siteconfig/
web.config
